@import url();
/* body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #e8f8f5;
  background-attachment: fixed;
} */
.intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

.intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

.intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

@media (min-width: 768px) {
  .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }

  .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}

header {
  position: relative;
  padding: 10px;
  background: rgba(235, 141, 19, 0.918);
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
  color: #31c3a6;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #31c3a6;
  letter-spacing: 2px;
  font-weight: bold;
}

nav ul li a.alive,
nav ul li a:hover {
  background: #31c3a6;
  color: white;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  header {
    margin: 10px;
  }
  .logo {
    padding: 0;
  }
  .menu-toggle {
    margin: 10px;
    display: block;
    width: 40px;
    height: 40px;
    background: #31c3a6;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: white;
  }
  .menu-toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.alive::before {
    content: "\f00d";
  }
  nav {
    display: none;
  }
  nav.alive {
    display: block;
    width: 100%;
  }
  nav.alive ul {
    display: block;
  }
  nav.alive ul li {
    margin: 0;
  }
  nav.alive ul li a {
    margin: 0;
  }
}
