.hero {
  min-height: 100vh;
  background-image: url("hero.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-tagline {
  font-size: 4rem;
}

/* #intro-back {
  background: black;
}

.intro-icon {
  font-size: 15rem;
  color: whitesmoke;
  margin: 0px auto;
} */

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg1 {
  background-image: url("https://hager-web.com/pictures/cube/startup-593327_640_opt.jpg");
  width: 100%;
  height: 100vh;
}
.bgimg2 {
  background-image: url("https://hager-web.com/pictures/cube/compass-2188475_640_opt.jpg");
  width: 100%;
  height: 400px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#footer-links-container ul {
  list-style-type: none;
  padding-left: 10px !important;
}

#footer-links-container ul > :first-child {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

@media (max-width: 425px) {
  .hero-tagline {
    font-size: 2.25rem;
  }

  #footer-links-container ul {
    list-style-type: none;
    padding-left: 30px !important;
  }
}
